/* page */
body {
	background-color: rgb(120, 59, 180);
}
.container {
	padding: 20px;
}
/* text */
h1 {
	text-align: center;
	margin: 40px;
	font-size: 60pt;
	color: white;
}

.field.has-addons {
	justify-content: center;
}
