   #searchBar{
       max-width: 80%;
       height: 60px;
   }
   #navBar{
       width: 100vw;
       height: 100px;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       flex-direction: column;
    }
#searchBtn{
   height: 60px;
    }
#lyricArea{
    margin-left: 30px;
    white-space: pre;
}
.mxm-lyrics__content{
    white-space: pre;
}
