/* page */
.hero {
	background-image: url(Assets/karoka.jpg);
	background-size: cover;
	min-height: 500px;
}

body {
	background-color: #390e4d;
}

main {
	padding: 20px;
}

/* hide initial page content until search */
.hide {
	display: none;
}

/* priority to stretch to align grid */
.grow {
	flex-grow: 10;
}

/* text */
/* page title */
h1 {
	font-family: "Bungee Inline", cursive;
	text-align: left;
	color: white;
	font-size: 96pt;
}

/* responsive sizing for title because Bulma didn't work for multiple breakpoints */
@media only screen and (max-width: 1408px) {
	h1 {
		font-size: 72pt;
	}
}

@media only screen and (max-width: 1012px) {
	h1 {
		font-size: 60pt;
	}
}

/* default font style*/
h2,
h3,
p {
	font-family: "Montserrat", sans-serif;
}

/* content headings */
h2 {
	font-size: 150%;
}

/* page subtitle */
h3 {
	font-weight: bold;
	text-align: left;
	color: white;
}

#songName {
	color: #491661;
	font-weight: bold;
}

.songBtn:hover {
	background-color: #e4dde7;
}

/* elements */
.field.has-addons {
	margin-top: 30px;
}

.hero-body {
	padding-top: 3rem !important;
	padding-bottom: 2rem !important;
}

.panel-block {
	flex-direction: column;
	align-items: flex-start !important;
}

#lyricArea {
	white-space: pre;
}
.mxm-lyrics__content {
	white-space: pre;
}
